body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #008000; /* Green color */
}

a {
  color: #0000ff; /* Blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
